@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: gray;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    background: none;
}

/* all similar content styling code */
section{
    padding: 100px 0;
}

.about, .experiences, .skills, .teams, .contact{
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.experiences .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after{
    content: "who i am";
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 45%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: crimson;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/* services section styling */
.experiences, .teams{
    color: #fff;
    background: #111;
}

.experiences .title::before,
.teams .title::before{
    background: #fff;
}

.experiences .title::after,
.teams .title::after{
    background: #111;
    content: "where i learned";
}

.experiences h3
{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
}
.experiences .serv-content .column{
    float: left;
    width: 50%;
    padding: 10px;
}
.timeline
{
    list-style-type: none;
    position: relative;
}
.timeline:before
{
    content: '';
    background: crimson;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.timeline li h4
{
    background-color: crimson;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 15px;
}
.timeline li h4 span
{
    font-weight: bold;
    color: #ccc;
}
.timeline li:before
{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid crimson;
    left: -12px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.timeline li p{
    margin-top: 10px;
}

.experiences .serv-content .fixed-button{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    cursor: pointer;
    transition: all 0.3s ease;
}

.experiences .serv-content .fixed-button:hover{
    background: none;
}

/* skills section styling */
.skills .title::after{
    content: "what i know";
}

.skills .skills-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: -20px;
}

.skills .skills-content .skill-list{
    font-size: 18px;
}

/* teams section styling */
.teams .title::after{
    content: "what i created";
}

.teams .carousel .card{
    cursor:pointer;
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
    background: crimson;
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}

.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

.popup {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background: rgba(0,0,0,0.7); 
    overflow-x: hidden; 
    padding-top: 60px;
    z-index: 1;
}

.popup .content {
    position:absolute;
    top:37%;
    left:37%;
    background:#fff;
    width:95%;
    max-width:500px;
    height:275px;
    z-index:2;
    text-align:justify;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    transition:all 300ms ease-in-out;
}

.popup h1{
    margin: 20px;
    text-align: center;
}

.popup p{
    margin: 20px;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:15px;
  top:15px;
  width:25px;
  height:25px;
  background:#222;
  color:#fff;
  font-size:17px;
  font-weight:550;
  line-height:25px;
  text-align:center;
  border-radius:50%;
}
 
/* social-media icons styling */
.social-icons
{
    top: 50%;
    transform: translateY(-150%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul
{
    padding: initial;
}
.social-icons ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background-color: crimson;
}

.social-icons ul li i{
    margin-top: 5px;
}

.social-icons ul li:hover
{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

/* contact section styling */
.contact .title::after{
    content: "reach out to me";
}

.contact .column{
    float: left;
    width: 50%;
    text-align: center;
}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

/* responsive media query start */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
    
}
@media (max-width: 1250px){
    .skills .skills-content .column{
        width: 25%;
        margin-bottom: 35px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .skills .skills-content .column{
        width: 30%;
        margin-bottom: 35px;
        margin-left: 25px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .social-icons ul li{
        width: 10%;
        padding-left: 0px;
    }
    .social-icons ul li i{
        visibility: hidden;
    }
    .social-icons ul li:hover{
        width: 50%;
        padding-left: 15px;
    }
    .social-icons ul li:hover i{
        animation: showBlock 0s 0.2s forwards;
    }
    .experiences .serv-content .column{
        width: 100%;
    }
    
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 27px;
    }
}

/* animations start */
@keyframes showBlock {
    to { visibility: visible; }
}